USE [master]
GO
/****** Object:  Database [UdemySQL]    Script Date: 08/08/2023 13:39:58 ******/
CREATE DATABASE [UdemySQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UdemySQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.UDEMYSERVER\MSSQL\DATA\UdemySQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UdemySQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.UDEMYSERVER\MSSQL\DATA\UdemySQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UdemySQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UdemySQL]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[email] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[message] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[id] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOrderDetails]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOrderDetails](
	[name] [varchar](255) NULL,
	[country] [varchar](255) NULL,
	[city] [varchar](255) NULL,
	[card] [varchar](255) NULL,
	[months] [varchar](255) NULL,
	[years] [varchar](255) NULL,
	[id] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](255) NULL,
	[pass] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userSignUp]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userSignUp](
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[id] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidUsersLoad]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidUsersLoad](
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidUsersLoad10]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidUsersLoad10](
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidUsersLoad15]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidUsersLoad15](
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidUsersLoad20]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidUsersLoad20](
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zoo]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zoo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZooAnimal]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZooAnimal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZooId] [int] NOT NULL,
	[AnimalId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZooAnimal1]    Script Date: 08/08/2023 13:39:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZooAnimal1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZooId] [int] NOT NULL,
	[AnimalId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ZooAnimal]  WITH CHECK ADD  CONSTRAINT [AnimalFK] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animal] ([Id])
GO
ALTER TABLE [dbo].[ZooAnimal] CHECK CONSTRAINT [AnimalFK]
GO
ALTER TABLE [dbo].[ZooAnimal]  WITH CHECK ADD  CONSTRAINT [ZooFK] FOREIGN KEY([ZooId])
REFERENCES [dbo].[Zoo] ([Id])
GO
ALTER TABLE [dbo].[ZooAnimal] CHECK CONSTRAINT [ZooFK]
GO
ALTER TABLE [dbo].[ZooAnimal1]  WITH CHECK ADD  CONSTRAINT [AnimalFk1] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animal] ([Id])
GO
ALTER TABLE [dbo].[ZooAnimal1] CHECK CONSTRAINT [AnimalFk1]
GO
ALTER TABLE [dbo].[ZooAnimal1]  WITH CHECK ADD  CONSTRAINT [ZooFk1] FOREIGN KEY([ZooId])
REFERENCES [dbo].[Zoo] ([Id])
GO
ALTER TABLE [dbo].[ZooAnimal1] CHECK CONSTRAINT [ZooFk1]
GO
USE [master]
GO
